script(type='text/x-handlebars', data-template-name='home')
    div.row
        div.large-12.columns
            h2 Welcome to the home route
            p As you see this is the home route key pieces of information here.
            ul
                li
                    p There is a home.jade file which is inculded in layout (so is rednered as index.jade is rendered
                li
                    p application.coffee have a home resource which maps the handelbar template to the id.