include layout
block
    script(type = 'text/x-handlebars', data-template-name='index')
        div.row
            div.large-12.columns
                div.row
                    div.large-12
                        h2 Welcome to your CrystalJS configured application.
                        p We love emberjs here but it can be a bit tricky to start. So these templates is a example but make sure you watch the video below too.
                        div.row
                            div.large-12
                                div.featured
                                    div.flex-video
                                        iframe(width='420', height='315', src='http://www.youtube.com/embed/Ga99hMi7wfY', frameborder='0', allowfullscreen)
        div.row
            div.large-12.columns
                h2 Some more example. Click on the link below to activate a emberjs based route
                {{#linkTo 'home'}}Home route{{/linkTo}}

