doctype 5
html
    head

    body
        script(type = 'text/x-handlebars')
            nav.top-bar
                ul.title-area
                 li.name
                    h1
                        {{#linkTo 'index'}}CrystalJS{{/linkTo}}
            {{outlet}}

        block content

        include home

        != js('lib/jquery')
        != js('application')
        != css('foundation')
        != css('normalize')