include layout
block
    content
    div.row
        div.four.columns
            a.button.radius(id='sim_but') Load
        dev.four.colums
            a.button.radius(id='google_but') google
        div.four.columns
            a.button.radius(id='step') Step

    br

    div.row
        div.twelve.columns
            div.panel
                h5(id='meeting_time')


    div.row
        div.twelve.columns
            div.alert-box.success(id='status')
                'Sim'

    div.row
        div.twelve.columns
            div.alert-box.success(id='status2')
                'Sim2'

    div.row
        div.twelve.columns
            div.flex-video(id='map_canvas')
    div.row
        div.twelve.columns
            p(id='legs')

    div.row
        div.twelve.columns
            table.responsive
                tbody(id='table_bod')
                    tr
                        th &nbsp;
                        th route
                        th total_time
                        th step count