doctype 5
html
    head
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCyY7OZoa02atBjFXpeSLJcGSJQe1stRlM&sensor=false')
        script(src='/socket.io/socket.io.js')

        != js('jquery-1.7.2.min')
        != js('application')
        != js('app')
        != css('foundation')
        != css('responsive-tables')
        != css('app')
    body
        div.row
            div.twelve.columns
                ul.nav-bar
                    li
                        a(href = '#') teek
        block content